.preview-container.template-B {
    display: flex;
    width: 600px;
    border: 2px solid #007acc;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.preview-container.template-B .left-column {
    width: 35%;
    background-color: #eff6fc;
    padding: 10px;
    margin-right: 15px;
}

.preview-container.template-B .right-column {
    width: 65%;
    padding: 10px;
}

.preview-container.template-B h3 {
    color: #007acc;
    margin-top: 10px;
    border-bottom: 1px solid #007acc;
    padding-bottom: 3px;
}

